body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    line-height: 2;
    text-align: center;
    display: flex;
}

/*header styling*/
header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
}
header img {
    float: left;
    height: 50px;
    display: inline;
}

header nav li{
    float: right;
    display: inline;
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}
/*mission section*/
#mission {
    background-image: url("./../images/img-mission-background.webp");
    min-height: 700px;
    margin: 40px;
    min-width: 1200px;
    display: flex;

#mission div {
    width: 100%;
    background-color: black;
    vertical-align: middle;
}

/*featured-tea section*/
#featured-tea {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#featured-tea div {
    
    margin: 20px;
    text-align: center;
}
#featured-tea div img {
    max-width: 300px;
    max-height: 200px;
}

/*locations sections*/
#locations {
    background-image: url("./../images/img-locations-background.jpg");
    min-height: 500px;
    margin: 40px;
    min-width: 1200px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: center;
}

#locations div{
    margin: 15px 20px 20px 20px;
    max-height: 300px;
    max-width: 300px;
    background-color: black;
    text-align: center;
}

/*footer sections*/
#contact {
    text-align: center;
    height: 200px;
}

#copyright {
    margin: 20px;
    text-align: left;
}